.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
node_modules/**
.github/**
docs/**
.images/**
.tmp/**
.claude/**
*.vsix
.gitignore
AGENTS.md
CLAUDE.md
Makefile
.mise.toml
esbuild.js
eslint.config.mjs
tsconfig.json
**/*.ts
**/*.map
**/.DS_Store
